.vscode
__pycache__/Node.cpython-39.pyc
__pycache__/PlayerColor.cpython-39.pyc
__pycache__/PlayerData.cpython-39.pyc
__pycache__/Resource.cpython-39.pyc
__pycache__/Tile.cpython-39.pyc
__pycache__/
*/.DS_Store
.DS_Store
